@font-face {
    font-family: "Lato";
    src: url("@/shared/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("@/shared/assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Poiret One";
    src: url("@/shared/assets/fonts/PoiretOne/PoiretOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

