@use "@/app/styles/media-queries.scss" as *;

.layoutWrapper {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: #f7fafc;
  overflow-x: hidden;
}

.mainContent {
  // Заставляет блок занять 100% оставшейся ширины РЯДОМ с сайдбаром
  flex-grow: 1; 
  box-sizing: border-box;
  background-color: #f7fafc;
  min-height: 100vh;
  
  padding: 24px;
  // На мобилках оставляем отступ сверху под мобильную плашку (60px)
  padding-top: 84px; 

  @include tablet-m {
    // Никаких margin-left!
    padding: 40px;
  }
}

