@use "@/app/styles/media-queries.scss" as *;

.adminWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0;
  
  form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

 @include tablet-m {
    padding: 0 1rem;
  }
}
