@use "@/app/styles/media-queries.scss" as *;

// Модификаторы и утилиты
.noMargin       { margin: 0; }
.tabularNumbers { font-variant-numeric: tabular-nums; }

// Шрифты и начертания
.lato      { font-family: var(--font-lato); }
.poiretOne { font-family: var(--font-poiret-one); }
.normal    { font-weight: 400; }
.bold      { font-weight: 700; }

// Варианты типографики
.h1 {
  font-size: 32px;
  line-height: 1.2;
  // Убрано дублирование: на tablet-m размер оставался 32px
}

h2 {
    font-family: var(--font-poiret-one);
    font-size: var(--font-size-md);
    color: var(--terracot);
    text-transform: var(--text-uppercase);
    margin-bottom: 24px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    align-self: center;

    
    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: var(--orange-color);
    }

    @include mobile-l {
      font-size: var(--font-size-sm);
    }
    @include tablet-m { font-size: var(--font-size-s)}
  }

  


.h3 {
  font-size: 16px;
  line-height: 1.4;

  @include tablet-m { font-size: 18px; }
}

// Объединение общих свойств для body-классов
.body16, .body14, .body12 {
  line-height: var(--line-height);
}

.body16 {
  font-size: 16px;
  @include tablet-m { font-size: 18px; }
}

.body14 {
  font-size: 14px;
  @include tablet-m { font-size: 16px; }
}

.body12 {
  font-size: 12px;
  @include tablet-m { font-size: 14px; }
}
