@use "@/app/styles/vars.scss" as *;
@use "@/app/styles/media-queries.scss" as *;
@use "@/app/styles/mixin.scss" as *;

.header {
  @include section-style;

  padding: 20px 10px;
    
  @include mobile-xl {
    padding: 20px 40px;
  }

  @include desktop-m {
    box-shadow: none;
    padding: 55px 0px;

  }

}

.mobileTitle {
    text-transform: var(--text-uppercase);
    font-size: var(--font-size-s);
    color: var(--green-dark-color);
    
    

    @include mobile-l {
        font-size: 3rem;
    }

    
}
