@use "@/app/styles/mixin.scss" as *;
@use "@/app/styles/media-queries.scss" as *;

.filterSection {
  @include section-style;

  @include mobile-l {
    .imageContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  min-height: 200px; 
  height: auto;
  position: relative;
}



.filtersImgBtn {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  display: flex;
  position: relative;
  scrollbar-width: thin;
  padding-bottom: 8px;

   
    
  }

  

  %button {
    display: inline-block;
    padding: 14px 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    pointer-events: auto;

    box-shadow:
      inset 0px 2px 0px rgba(255, 255, 255, 0.4),
      inset 0px -2px 0px rgba(0, 0, 0, 0.3),
      0px 4px 10px rgba(0, 0, 0, 0.2);

    
    transition: all 0.1s ease-out;
  }

  .primaryButton {
    @extend %button;
    background-color: var(--green-light);
    width: fit-content;
    color: var(--grey-dark);

    position: relative;
  z-index: 10; 
  }

  .h2 {
    align-self: center;
  }
  
  .mealButton {
            @extend %button;
            color: var(--white);
            background-color: var(--orange-color);
        }

        .filterBaseButton {
            @extend %button;
            background-color: var(--white);
            color: var(--orange-color);
        }

  
  .button:active {
    
    box-shadow:
      inset 0px 1px 0px rgba(0, 0, 0, 0.4),
      0px 0px 0px rgba(0, 0, 0, 0.2);
      background-color: var(--terracot);
    transform: translateY(2px);
  }

    .mealButton:active, .filterBaseButton:active {
            
            background-color: var(--terracot);
        }

    .filterBaseButton:active {
        color: var(--white)
    }

.buttonLoadMore {
  color: var(--text-color);
  font-size: var(--font-size-xs);
}

.filterImgBtn::-webkit-scrollbar {
  border-radius: 5px;
  height: 20px;
  display: block;
}

.filterImgBtn::-webkit-scrollbar-thumb {
  background-color: var(--gray-color);
  border-radius: 5px;
}

/* For Firefox */
@supports (-moz-appearance: meterbar) {
  .filterImgBtn {
    scrollbar-width: thin;
  }
}

.headingStyle {
  text-transform: var(--text-uppercase);
}


.mealButton.active {
  background-color: var(--terracot) !important;
  color: var(--white) !important;
  box-shadow: 
    inset 0px 4px 6px rgba(0, 0, 0, 0.4), 
    0px 0px 0px rgba(0, 0, 0, 0);
  transform: translateY(2px);
}


.filterBaseButton.active {
  background-color: var(--terracot) !important;
  color: var(--white) !important;
  box-shadow: 
    inset 0px 4px 6px rgba(0, 0, 0, 0.4), 
    0px 0px 0px rgba(0, 0, 0, 0);
  transform: translateY(2px);
}