@use "@/app/styles/mixin.scss" as *;
@use "@/app/styles/media-queries.scss" as *;

input[type="text"],
select,
textarea {
  width: 100%;
  
  padding: 1.1rem 1.25rem; 
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 6px;
  color: var(--text-color);
  font-family: var(--font-lato);
  font-size: var(--font-size-s); 
  transition: border-color 0.3s ease;

  @include placeholder-support; 

  &:focus {
    outline: none;
    border-color: var(--green-dark-color);
  }

  @include mobile-xl {
    font-size: var(--mobile-font-size-md);
    padding: 0.85rem 1rem;
  }

  @include desktop-m {
    font-size: var(--font-size-s);
    padding: 0.85rem 1rem;
  }
}

textarea {
  min-height: 140px;
  resize: vertical;
}


.inputError {
  border-color: var(--error-color) !important;
}


.error {
  color: var(--error-color);
  font-family: var(--font-lato);
  font-size: var(--font-size-m);
  margin-top: 0.4rem;
  display: block;
  font-weight: var(--font-weight-semibold);

  @include mobile-xl {
    font-size: var(--mobile-font-size-md);
  }
}

h3 {
  font-family: var(--font-poiret-one);
    font-size: var(--font-size-l);
  color: var(--text-color);
  text-transform: var(--text-uppercase);
  font-weight: var(--font-weight-semibold);
  border-bottom: 1px solid var(--grey-light);
  padding-bottom: 0.75rem;
  margin-top: 2rem;
  letter-spacing: 0.03em;

  @include mobile-xl {
    font-size: var(--font-size-s);
  }
}

button[type="button"]:has(svg) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem; // Увеличили область клика
  border-radius: 6px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(220, 80, 52, 0.1); 
  }
}
.addButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.9rem 1.25rem;
  color: var(--green-dark-color);
  font-family: var(--font-lato);
  font-size: var(--font-size-xs);
  text-transform: var(--text-uppercase);
  font-weight: var(--font-weight-semibold);
  border: 1px dashed var(--green-dark-color);
  border-radius: 6px;
  width: fit-content;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: rgba(113, 157, 110, 0.05);
  }

  @include mobile-xl {
    font-size: var(--mobile-font-size-md);
  }
}

.submitButton {
  width: 100%;
  padding: 1.4rem;
  background-color: var(--green-light);
  color: var(--white);
  font-family: var(--font-poiret-one);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  text-transform: var(--text-uppercase);
  letter-spacing: 0.05em;
  border-radius: 8px;
  margin-top: 2rem;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: var(--green-dark-color);
  }

  &:disabled {
    background-color: var(--gray-color);
    cursor: not-allowed;
  }

  @include mobile-xl {
    font-size: var(--font-size-sm);
    padding: 1.1rem;
  }
}
